<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Restaurante" %>
    <%= form.select :restaurant_id, Restaurant.all.order(:name).collect {|restaurant| [restaurant.name, restaurant.id]}, {}, {:class => 'form-control select'} %>
  </div>

  <div class="form-group">
    <%= form.label "Nome" %>
    <%= form.text_field :name, id: :dish_name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Categoria" %>
    <%= form.select :category_id, Category.all.order(:description).collect {|category| [category.description, category.id]}, {}, {:class => 'form-control select'} %>
  </div>

  <div class="form-group">
    <%= form.label "Preço" %>
    <%= form.number_field :price, id: :dish_price, :class => 'form-control', :type => 'text' %>
  </div>

  <div class="form-group">
    <%= form.label "Tempo de preparo" %>
    <%= form.time_select :timePreparation, id: :dish_timePreparation, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label "Ingredientes" %>
    <% Ingredient.all.order(:description).each do |ingredient| %>
      <%= check_box_tag "dish[ingredient_ids][]", ingredient.id, @dish.ingredients.include?(ingredient) %>
      <%= ingredient.description %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", :class=>'btn btn-success' %>
  </div>
<% end %>
