<p id="notice"><%= notice %></p>

<div class="popover-header" style="margin-bottom: 20px">
  <h1 class="text-center text-primary font-weight-bold">Find Food</h1>
</div>


<div class="row">
<!--  conteúdo do site-->
  <div class="col-9">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Restaurante</th>
        <th>Endereço</th>
        <th>Telefone</th>
      </tr>
      </thead>
    <tbody>

      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= link_to restaurant.name, restaurant_restaurants_path( restaurant_id: restaurant.id) %></td>
          <td><%= restaurant.address %></td>
          <td><%= format_phone restaurant.phone %></td>
        </tr>
      <% end %>

    </tbody>
    </table>
  </div>
<!--  Barra lateral-->
  <div class="col-3">
    <p class="card-header">Busca por restaurante:
      <span class="btn-sm btn-info help" title="Busca restaurantes pelo nome">
        ?
      </span>
    </p>
    <p>
      <%= form_tag("/restaurants/home", method: "post", class: "form-inline") do %>
        <div class="form-group mb-2">
          <%= text_field_tag :search_term, '', maxlength: 15, size: 23, class: "form-control" %>
          <%= submit_tag "Buscar", :class => 'btn btn-success' %>
        </div>

      <% end %>
    </p>

    <p class="card-header">Busca por prato:
      <span class="btn-sm btn-info help" title="Busca restaurantes que contém o prato informado">
            ?
          </span>
    </p>
    <p>
      <%= form_tag("/restaurants/home", method: "post", class: "form-inline") do %>
      <div class="form-group mb-2">
        <%= text_field_tag :search_term_dish, '', maxlength: 15, size: 23, class: "form-control" %>
        <%= submit_tag "Buscar", :class => 'btn btn-success' %>
      </div>

    <% end %>
    </p>
    <p class="card-header">Categorias:
      <span class="btn-sm btn-info help" title="Filtra restaurantes que contenham prato da categoria selecionada">
        ?
      </span>
    </p>
    <ul class="list-group lis">
      <% Category.all.order(:description).each do |cat| %>
        <li class="list-group-item btn-light"> <%= link_to cat.description, home_restaurants_path( category_id: cat.id) %></li>
      <% end %>
    </ul>
  </div>
</div>



