<p id="notice"><%= notice %></p>

<h1>Restaurantes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Pratos Cadastrados</th>
      <th colspan="3" style="width: 15%"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= format_phone restaurant.phone %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.dishes.length %></td>
        <td><%= link_to 'Ver', restaurant, :class => 'btn btn-outline-success text-black-50'  %></td>
        <td><%= link_to 'Editar', edit_restaurant_path(restaurant), :class => 'btn btn-outline-warning text-black-50' %></td>
        <td><%= link_to 'Excluir', restaurant, method: :delete, :class => 'btn btn-outline-danger text-black-50', data: { confirm: 'Confirma exclusão?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo restaurante', new_restaurant_path, :class => 'btn btn-outline-success' %>
