

  <% if (!@nav) %>
    <% else %>
    <nav class="nav navbar">
      <a class="btn btn-outline-info disabled" href=" # ">>>>>>>>>>></a>
      <a class="btn btn-outline-info" href=" <%= root_path %> ">Home</a>
      <a class="btn btn-outline-info" href=" <%= dishes_path %> ">Pratos</a>
      <a class="btn btn-outline-info" href=" <%= categories_path %> ">Categorias</a>
      <a class="btn btn-outline-info" href=" <%= ingredients_path %> ">Ingredientes</a>
      <a class="btn btn-outline-info" href=" <%= restaurants_path %> ">Restaurantes</a>
      <a class="btn btn-outline-info disabled" href=" # "><<<<<<<<<<</a>
    </nav>
  <% end %>

